@page "/Certifications/AddTraining";

@using IncomeGoalTracker.Core.Services.Interfaces
@using IncomeGoalTracker.Core.Models.Ceu
@using Radzen
@using Radzen.Blazor

@inject NavigationManager NavigationManager
@inject NotificationService NotificationService
@inject ICertificateService CertificateService
@inject ILogger<Certificate> Logger
@inject ITrainingClassService TrainingClassService

<h3>AddTrainingClass</h3>

@code {

}
