@page "/CheckCalculator"
<h3>CheckCalculator</h3>

<MudNumericField @bind-Value="_taxPercentage" Label="Tax Percentage" T="double?" Variant="Variant.Outlined" Min="0" Max="100"></MudNumericField>
<MudNumericField @bind-Value="_sharePercentage" Label="Share Percentage" T="double?" Variant="Variant.Outlined" Min="0" Max="100"></MudNumericField>
<MudNumericField @bind-Value="_deductionAmount" Label="Deduction Amount" Variant="Variant.Outlined"></MudNumericField>
<MudNumericField @bind-Value="_averageBilable" Label="Average Billable" Min="0" Variant="Variant.Outlined"></MudNumericField>
<MudSlider @bind-value="_client" Variant="Variant.Filled" Step="1" Min="0" Max="35">Number of Clients: @_client.ToString()</MudSlider>



@code {
    // Input Values
    public int _client = 0;
    public double? _taxPercentage;
    double? _sharePercentage;
    decimal? _deductionAmount;
    decimal? _averageBilable;

    // Calculated Values
    decimal? _total;
    decimal? _taxDollars;
    decimal? _shareDollars;
    decimal? _netAmount;

}
