@page "/certificates/certificate"
@using IncomeGoalTracker.Core.Models
@using IncomeGoalTracker.Core.Services
@using IncomeGoalTracker.Core.Services.Interfaces

<!-- DI Injections-->
@inject ICertificateService CertificateService
@inject ISnackbar snackbar
@inject IDialogService dialogService
@inject NavigationManager NavigationManager
@inject ILogger<Certificate> logger

<h3>Certificate</h3>

@code {

}
